body {
    background-color: #a4bbff ;
    margin: 25px;
}

ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 25px 12px;
}

ul li {
    display: inline;
   
}

ul li a {
    text-decoration: none;
    padding: 25px 12px;
    color: white;
    margin: 24px;
    text-align: center;
}

a:hover {
    background-color: #fb73b1 ;
    padding: 25px;
}

/* styling first header  */
.main-title {
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    text-align: center;
    text-shadow: 0 0 5px 5px #00c114;
}

/* Polaroid div  */
div.polaroid {
    width: 30%;
    background-color: white;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12) ;
    margin-bottom: 25px;
    border-radius: 2px;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    gap: 20px;
}
